.header {
    background-color: $off-black;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
    display: flex;
    justify-content: space-between;
    
}

.header__title {
    font-size: $l-size;
    margin: 0; 
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0; 
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;    
    }
}
.szh-menu {
    background: $light-blue;
    color: white;
    padding: $m-size;
}
.icon {
    width: 4rem;
    height: auto;
    color: white;
}
